body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:590px;
}
#u450 {
  position:absolute;
  left:506px;
  top:89px;
  width:340px;
  height:590px;
}
#u451 {
  position:absolute;
  left:2px;
  top:287px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:591px;
}
#u452 {
  position:absolute;
  left:76px;
  top:89px;
  width:336px;
  height:591px;
}
#u453 {
  position:absolute;
  left:2px;
  top:288px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u454 {
  position:absolute;
  left:80px;
  top:209px;
  width:40px;
  height:40px;
}
#u455 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u456 {
  position:absolute;
  left:671px;
  top:337px;
  width:170px;
  height:40px;
}
#u457 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:586px;
}
#u458 {
  position:absolute;
  left:966px;
  top:89px;
  width:340px;
  height:586px;
}
#u459 {
  position:absolute;
  left:2px;
  top:285px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460 {
  position:absolute;
  left:120px;
  top:229px;
  width:0px;
  height:0px;
}
#u460_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:390px;
  height:8px;
}
#u460_seg1 {
  position:absolute;
  left:382px;
  top:-4px;
  width:8px;
  height:5px;
}
#u460_seg2 {
  position:absolute;
  left:376px;
  top:-13px;
  width:20px;
  height:21px;
}
#u461 {
  position:absolute;
  left:144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462 {
  position:absolute;
  left:841px;
  top:357px;
  width:0px;
  height:0px;
}
#u462_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:129px;
  height:8px;
}
#u462_seg1 {
  position:absolute;
  left:121px;
  top:-4px;
  width:8px;
  height:7px;
}
#u462_seg2 {
  position:absolute;
  left:115px;
  top:-11px;
  width:20px;
  height:21px;
}
#u463 {
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464 {
  position:absolute;
  left:936px;
  top:400px;
  width:0px;
  height:0px;
}
#u464_seg0 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u464_seg1 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:14px;
}
#u464_seg2 {
  position:absolute;
  left:-20px;
  top:-4px;
  width:20px;
  height:21px;
}
#u465 {
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u466 {
  position:absolute;
  left:1051px;
  top:401px;
  width:153px;
  height:26px;
  font-size:16px;
}
#u467 {
  position:absolute;
  left:0px;
  top:4px;
  width:153px;
  word-wrap:break-word;
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u468 {
  position:absolute;
  left:1051px;
  top:430px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u469 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u470 {
  position:absolute;
  left:1051px;
  top:500px;
  width:153px;
  height:26px;
  font-size:16px;
}
#u471 {
  position:absolute;
  left:0px;
  top:4px;
  width:153px;
  word-wrap:break-word;
}
#u472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u472 {
  position:absolute;
  left:1051px;
  top:529px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u474 {
  position:absolute;
  left:1052px;
  top:601px;
  width:153px;
  height:26px;
  font-size:16px;
}
#u475 {
  position:absolute;
  left:0px;
  top:4px;
  width:153px;
  word-wrap:break-word;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u476 {
  position:absolute;
  left:1052px;
  top:630px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u477 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u478 {
  position:absolute;
  left:1356px;
  top:411px;
  width:324px;
  height:59px;
  color:#666666;
}
#u479 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u480 {
  position:absolute;
  left:1186px;
  top:418px;
  width:170px;
  height:1px;
}
#u481 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u482 {
  position:absolute;
  left:1356px;
  top:529px;
  width:324px;
  height:16px;
  color:#666666;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  white-space:nowrap;
}
#u484 {
  position:absolute;
  left:1104px;
  top:438px;
  width:0px;
  height:0px;
}
#u484_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u484_seg1 {
  position:absolute;
  left:188px;
  top:-4px;
  width:8px;
  height:107px;
}
#u484_seg2 {
  position:absolute;
  left:188px;
  top:95px;
  width:64px;
  height:8px;
}
#u485 {
  position:absolute;
  left:126px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
