body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1243px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:629px;
}
#u302 {
  position:absolute;
  left:80px;
  top:80px;
  width:375px;
  height:629px;
}
#u303 {
  position:absolute;
  left:2px;
  top:306px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u304 {
  position:absolute;
  left:540px;
  top:383px;
  width:488px;
  height:448px;
}
#u305 {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  word-wrap:break-word;
}
#u306 {
  position:absolute;
  left:437px;
  top:613px;
  width:0px;
  height:0px;
}
#u306_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u306_seg1 {
  position:absolute;
  left:60px;
  top:-224px;
  width:8px;
  height:228px;
}
#u306_seg2 {
  position:absolute;
  left:60px;
  top:-224px;
  width:44px;
  height:8px;
}
#u306_seg3 {
  position:absolute;
  left:96px;
  top:-224px;
  width:8px;
  height:5px;
}
#u307 {
  position:absolute;
  left:14px;
  top:-105px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:46px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u308 {
  position:absolute;
  left:1071px;
  top:579px;
  width:172px;
  height:46px;
  font-size:14px;
  color:#FFFFFF;
}
#u309 {
  position:absolute;
  left:2px;
  top:15px;
  width:168px;
  word-wrap:break-word;
}
#u310 {
  position:absolute;
  left:976px;
  top:602px;
  width:0px;
  height:0px;
}
#u310_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u311 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u312 {
  position:absolute;
  left:80px;
  top:54px;
  width:97px;
  height:16px;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  position:absolute;
  left:80px;
  top:950px;
  width:223px;
  height:16px;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:698px;
}
#u316 {
  position:absolute;
  left:53px;
  top:976px;
  width:402px;
  height:698px;
}
#u317 {
  position:absolute;
  left:2px;
  top:341px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318 {
  position:absolute;
  left:540px;
  top:1054px;
  width:239px;
  height:16px;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u320 {
  position:absolute;
  left:455px;
  top:1062px;
  width:85px;
  height:1px;
}
#u321 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
