body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:538px;
}
#u389 {
  position:absolute;
  left:10px;
  top:10px;
  width:1330px;
  height:538px;
}
#u390 {
  position:absolute;
  left:2px;
  top:261px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u391 {
  position:absolute;
  left:82px;
  top:360px;
  width:113px;
  height:16px;
}
#u392 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u393 {
  position:absolute;
  left:82px;
  top:395px;
  width:113px;
  height:16px;
}
#u394 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u395 {
  position:absolute;
  left:82px;
  top:489px;
  width:305px;
  height:16px;
  color:#666666;
}
#u396 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:74px;
}
#u397 {
  position:absolute;
  left:99px;
  top:416px;
  width:1px;
  height:73px;
}
#u398 {
  position:absolute;
  left:2px;
  top:28px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u399 {
  position:absolute;
  left:609px;
  top:262px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u400 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u401 {
  position:absolute;
  left:502px;
  top:489px;
  width:291px;
  height:16px;
  color:#666666;
}
#u402 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:211px;
}
#u403 {
  position:absolute;
  left:622px;
  top:279px;
  width:1px;
  height:210px;
}
#u404 {
  position:absolute;
  left:2px;
  top:97px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
