body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:599px;
}
#u405 {
  position:absolute;
  left:19px;
  top:30px;
  width:1311px;
  height:599px;
}
#u406 {
  position:absolute;
  left:2px;
  top:292px;
  width:1307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u407 {
  position:absolute;
  left:310px;
  top:474px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u408 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u409 {
  position:absolute;
  left:293px;
  top:510px;
  width:71px;
  height:16px;
}
#u410 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u411 {
  position:absolute;
  left:900px;
  top:510px;
  width:173px;
  height:16px;
}
#u412 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u413 {
  position:absolute;
  left:882px;
  top:498px;
  width:220px;
  height:40px;
}
#u414 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u415 {
  position:absolute;
  left:878px;
  top:698px;
  width:390px;
  height:48px;
  color:#666666;
}
#u416 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  white-space:nowrap;
}
#u417_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:25px;
  height:5px;
}
#u417 {
  position:absolute;
  left:890px;
  top:751px;
  width:22px;
  height:2px;
}
#u418 {
  position:absolute;
  left:2px;
  top:-7px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:25px;
  height:5px;
}
#u419 {
  position:absolute;
  left:918px;
  top:750px;
  width:22px;
  height:2px;
}
#u420 {
  position:absolute;
  left:2px;
  top:-7px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:113px;
  height:5px;
}
#u421 {
  position:absolute;
  left:958px;
  top:751px;
  width:110px;
  height:2px;
}
#u422 {
  position:absolute;
  left:2px;
  top:-7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u423 {
  position:absolute;
  left:763px;
  top:787px;
  width:85px;
  height:32px;
  color:#666666;
}
#u424 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u425 {
  position:absolute;
  left:901px;
  top:753px;
  width:0px;
  height:0px;
}
#u425_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u425_seg1 {
  position:absolute;
  left:-99px;
  top:13px;
  width:103px;
  height:8px;
}
#u425_seg2 {
  position:absolute;
  left:-99px;
  top:13px;
  width:8px;
  height:21px;
}
#u426 {
  position:absolute;
  left:-98px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u427 {
  position:absolute;
  left:888px;
  top:789px;
  width:113px;
  height:32px;
  color:#008000;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u429 {
  position:absolute;
  left:1040px;
  top:791px;
  width:71px;
  height:16px;
  color:#666666;
}
#u430 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u431 {
  position:absolute;
  left:929px;
  top:753px;
  width:0px;
  height:0px;
}
#u431_seg0 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u431_seg1 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:8px;
  height:38px;
}
#u432 {
  position:absolute;
  left:-51px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433 {
  position:absolute;
  left:1013px;
  top:753px;
  width:0px;
  height:0px;
}
#u433_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u433_seg1 {
  position:absolute;
  left:-4px;
  top:23px;
  width:71px;
  height:8px;
}
#u433_seg2 {
  position:absolute;
  left:59px;
  top:23px;
  width:8px;
  height:15px;
}
#u434 {
  position:absolute;
  left:-26px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:161px;
}
#u435 {
  position:absolute;
  left:882px;
  top:538px;
  width:1px;
  height:160px;
  color:#666666;
}
#u436 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437 {
  position:absolute;
  left:461px;
  top:498px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u438 {
  position:absolute;
  left:410px;
  top:698px;
  width:237px;
  height:16px;
  color:#666666;
}
#u439 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:169px;
}
#u440 {
  position:absolute;
  left:489px;
  top:530px;
  width:1px;
  height:168px;
}
#u441 {
  position:absolute;
  left:2px;
  top:76px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
